<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/main.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
			integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="container">
		<header class="header">
			<div class="header__container">
				<a
					href="https://project-promo-v-module-4-team-4.onrender.com/"
					target="_blank"
				>
					<i class="fa-solid fa-laptop-code icon"></i>
				</a>
				<p class="header__container--text">Proyectos Molones</p>
			</div>
			<a href="https://adalab.es/" target="_blank"
				><img src="/logo-adalab.png" alt="logo" class="logo"
			/></a>
		</header>
		<main class="preview">
			<img
				class="image preview__image"
				src="<%=project.photoProject%>"
				alt="Imagen del proyecto"
			/>
			<section class="preview__autor">
				<section class="info-project previewProject">
					<p class="subtitle previewProject__subtitle">
						Personal Project Card
					</p>
					<hr class="line previewProject__line" />

					<h2 class="previewProject__title">
						<%=project.nameProject%>
					</h2>
					<p class="slogan previewProject__slogan">
						<%=project.slogan%>
					</p>
					<p class="previewProject__desc"><%=project.desc%></p>
					<section class="technologies previewProject__technologies">
						<p class="text previewProject__technologies--text">
							<%=project.technologies%>
						</p>

						<a href="<%=project.demo%>" target="_blank">
							<i
								class="fa-solid fa-globe previewProject__technologies--world"
							></i>
						</a>

						<a href="<%=project.repo%>" target="_blank">
							<i
								class="fa-brands fa-github previewProject__technologies--github"
							></i>
						</a>
					</section>
				</section>

				<section class="info-autor previewAutor">
					<img
						class="image previewAutor__image"
						src="<%=project.photoAutor%>"
						alt="Imagen del autor"
					/>
					<p class="job previewAutor__job"><%=project.job%></p>
					<p class="name previewAutor__name">
						<%=project.nameAutor%>
					</p>
				</section>
			</section>
		</main>
		<footer class="footer">
			<a href="https://adalab.es/" target="_blank"
				><img src="/logo-adalab.png" alt="logo" class="logo"
			/></a>
		</footer>
	</body>
</html>
